Repository TreyWW/MyFinances, pull requests merged in 2023-08, with the labels that each got.

#18 integrates the CONTRIBUTING.md to README.md
  CONTRIBUTING.md
  README.md
Labels: area: documentation, discussion, enhance

#35 Added a note to readme to show that we are just starting and wont have big features out yet
  README.md
Labels: area: documentation, readme.md

#46 Feature/26 currency option in settings
  backend/migrations/0001_initial.py
  backend/migrations/0002_usersettings_currency.py
  backend/models.py
  backend/views/core/settings/view.py
  frontend/templates/core/pages/settings/main.html
  frontend/templates/core/pages/settings/settings/alerts_and_notifications.html
  frontend/templates/core/pages/settings/settings/email_notifications.html
  frontend/templates/core/pages/settings/settings/preferences.html
Labels: size: M

#55 Documentation Update - Added SETUP.md to help beginers setup the project
  README.md
  documentation/SETUP.md
  requirements.txt
Labels: area: documentation

#57 📖 Added documenation to SQLite and the environment variable
  documentation/SETUP.md
  settings/local_settings.py
Labels: area: documentation, area: database
